In [23]:
import pandas as pd
import numpy as np
import string
import barplot
import importlib as imp
imp.reload(barplot)

# Load Data

In [24]:
# load example mtcars data 
df = pd.read_csv('mtcars.csv')
df.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,21.0,6.0,160.0,110.0,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,1,21.0,6.0,160.0,110.0,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,2,22.8,4.0,108.0,93.0,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,3,21.4,6.0,258.0,110.0,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,4,18.7,8.0,360.0,175.0,3.15,3.440,17.02,0.0,0.0,3.0,2.0

# Create Simple Barplot

A simple barplot can be created by passing three dataframes to `barplot.create_graph`:

* `in_data` - the height of the bars
* `names` - a dataframe containing the hover text for the bars, otherwise identical to `in_data`
* `errors` - a dataframe containing the half-height of the error bars, otherwise identical to `in_data`

In [25]:
# create graph data 
in_data = pd.DataFrame(df.groupby('cyl').mean()['mpg'])
in_data.index = in_data.index.astype(int).astype(str) + ' Cylinders'
print('main data:')
display(in_data.head())

# generate names
l = string.ascii_lowercase
names = in_data.copy()
f = lambda: l[np.random.randint(0,len(l))]

for x in names.index:
    names.loc[x, 'mpg'] = f()+f()
    
print('names:')
display(names.head())

# generate error bars data
errors = in_data.copy()
errors['mpg'] = 2.5
print('errors:')
display(errors.head())

main data:

                   mpg
4 Cylinders  26.663636
6 Cylinders  19.742857
8 Cylinders  15.100000

names:

            mpg
4 Cylinders  ts
6 Cylinders  gi
8 Cylinders  yc

errors:

             mpg
4 Cylinders  2.5
6 Cylinders  2.5
8 Cylinders  2.5

In [26]:
# create input data for graph 
args = dict(
    in_data=in_data,
    names=names,
    errors=errors,
    xlab='Number of Cylinders',
    ylab='Miles Per Gallon',
    title='<b>Fuel Mileage by Number of Cylinders</b>',
    annotations=[{'text':'More cylinders correlates to lower fuel mileage', 'x':1.5, 'y':24.5, 'showarrow':False}]
)

In [27]:
# view plot inline 
fig = barplot.create_graph(**args)

In [28]:
# write graph to html file 
fp = 'barplot-example.html'
barplot.output_graph(fp, fig)